<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div style='width: 800px;'>

    <img src='cid:cabecalho'>

    <div style='margin:80px 50px 80px 50px'>
      <h1>Olá, {destinatario}!</h1>
      <br>
      <font color='black' size='4'>

        <div style='text-align: center;'>
          <a href='{link}'>Clique aqui para acessar o painel de pagamento</a>
        </div>

        <p align='justify'>
          Nesse painel você poderá escolher a melhor forma para realizar o seu pagamento:
          cartão de crédito, PIX ou boleto bancário.
        </p>
      </font>

      <br>

      <p align='justify'>
        <i>
          Esta é uma mensagem automática e não deve ser respondida.
        </i>
        <br>
        <i>
          Em caso de dúvidas, ligue para a central de atendimento da Netwave através dos
          telefones:
          <ul style="list-style: none;">
            <li>📞 0300-770-7777</li>
            <li>📞 (11) 3183-5575</li>
            <li>📞 (11) 4538-3373</li>
          </ul>
        </i>
      </p>

    </div>

    <br>
    <br>
    <br>
    <br>
    <img src='cid:assinatura'>

  </div>
</body>

</html>